---
description: EDA brecha tecnológica España
---


## Los Datos:

**INE (Instituto Nacional de Estadística): https://www.ine.es**

**1: [Fuente](https://www.ine.es/jaxi/Tabla.htm?tpx=70470&L=0)**

**2: [Fuente](https://www.ine.es/jaxi/Datos.htm?tpx=70388#_tabs-grafico)**

**3:[Fuente](https://www.ine.es/jaxi/Datos.htm?tpx=70466)**

In [149]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Configuro el entorno de trabajo
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)

## CARACTS SOCIO-DEMOGRAF

In [150]:
df_educacion = pd.read_csv('../datos/7 educacion_TIC.csv', sep=';', encoding='latin1')

In [151]:
df_educacion.head()

,Sexo,Caracterï¿½sticas socioeconï¿½micas,Tipo de uso de TIC,Total
0,Ambos sexos,Total Personas,Total Personas,36663412
1,Ambos sexos,Total Personas,Personas que han utilizado el telï¿½fono mï¿½vil,"99,1"
2,Ambos sexos,Total Personas,Personas que han utilizado Internet en los ï¿½...,"95,8"
3,Ambos sexos,Total Personas,Personas que han utilizado Internet al menos u...,95
4,Ambos sexos,Total Personas,Personas que han utilizado Internet diariament...,"91,5"

In [8]:
df_educacion.shape

(594, 4)

In [9]:
df_educacion.duplicated().sum()

0

In [10]:
df_educacion.isnull().sum()

Sexo                                   0
Caracterï¿½sticas socioeconï¿½micas    0
Tipo de uso de TIC                     0
Total                                  0
dtype: int64

In [11]:
df_educacion. columns

Index(['Sexo', 'Caracterï¿½sticas socioeconï¿½micas', 'Tipo de uso de TIC',
       'Total'],
      dtype='object')

In [152]:
df_educacion.rename(columns={
    'Caracterï¿½sticas socioeconï¿½micas': 'caracts_socioecon',
    'Tipo de uso de TIC': 'uso_TIC',
    'Sexo':'sexo',
    'Total':'total'
}, inplace=True)

In [153]:
df_educacion.columns

Index(['sexo', 'caracts_socioecon', 'uso_TIC', 'total'], dtype='object')

In [154]:
df_educacion['sexo'].value_counts()

sexo
Ambos sexos     198
Sexo: Hombre    198
Sexo: Mujer     198
Name: count, dtype: int64

In [155]:
map = {'Sexo: Mujer': 'mujer',
        'Sexo: Hombre': 'hombre'}

df_educacion['sexo'] = df_educacion['sexo'].map(map)

In [156]:
df_educacion['sexo'].value_counts()

sexo
hombre    198
mujer     198
Name: count, dtype: int64

In [157]:
df_educacion['uso_TIC'].value_counts()

uso_TIC
Total Personas                                                                              99
Personas que han utilizado el telï¿½fono mï¿½vil                                            99
Personas que han utilizado Internet en los ï¿½ltimos 3 meses                                99
Personas que han utilizado Internet al menos una vez por semana en los ï¿½ltimos 3 meses    99
Personas que han utilizado Internet diariamente (al menos 5 dï¿½as a la semana)             99
Personas que han comprado a travï¿½s de Internet en los ï¿½ltimos 3 meses                   99
Name: count, dtype: int64

In [158]:
df_educacion['uso_TIC'] = df_educacion['uso_TIC'].str.lower()

In [159]:
df_educacion['uso_TIC'].value_counts()

uso_TIC
total personas                                                                              99
personas que han utilizado el telï¿½fono mï¿½vil                                            99
personas que han utilizado internet en los ï¿½ltimos 3 meses                                99
personas que han utilizado internet al menos una vez por semana en los ï¿½ltimos 3 meses    99
personas que han utilizado internet diariamente (al menos 5 dï¿½as a la semana)             99
personas que han comprado a travï¿½s de internet en los ï¿½ltimos 3 meses                   99
Name: count, dtype: int64

In [160]:
map = {'personas que han utilizado el telï¿½fono mï¿½vil': 'telef_mov', 
    'personas que han utilizado internet en los ï¿½ltimos 3 meses':'uso_internet_ultimos3meses',
    'personas que han utilizado internet al menos una vez por semana en los ï¿½ltimos 3 meses':'uso_internet_semanal',
    'personas que han utilizado internet diariamente (al menos 5 dï¿½as a la semana)':'uso_internet_diario',
    'personas que han comprado a travï¿½s de internet en los ï¿½ltimos 3 meses':'compra_online_ultimos3meses'}

df_educacion['uso_TIC']= df_educacion['uso_TIC'].map(map)

In [161]:
df_educacion['uso_TIC'].value_counts()

uso_TIC
telef_mov                      99
uso_internet_ultimos3meses     99
uso_internet_semanal           99
uso_internet_diario            99
compra_online_ultimos3meses    99
Name: count, dtype: int64

In [162]:
df_educacion['caracts_socioecon'].value_counts()

caracts_socioecon
Total Personas                                                                                         18
Estudios terminados: Menos que primaria                                                                18
Estudios terminados: Educaciï¿½n Primaria                                                              18
Estudios terminados: Primera etapa de Educaciï¿½n Secundaria                                           18
Estudios terminados: Segunda etapa de Educaciï¿½n Secundaria                                           18
Estudios terminados: Formaciï¿½n Profesional de Grado Superior                                         18
Estudios terminados: Diplomatura universitaria y equivalentes                                          18
Estudios terminados: Licenciatura universitaria, mï¿½ster y equivalentes                               18
Estudios terminados: Doctorado universitario                                                           18
Estudios terminados: Otros                                                                             18
Situaciï¿½n laboral: Activos ocupados                                                                  18
Situaciï¿½n laboral: Activos parados                                                                   18
Situaciï¿½n laboral: Inactivos: Estudiantes                                                            18
Situaciï¿½n laboral: Inactivos: Labores del hogar                                                      18
Situaciï¿½n laboral: Inactivos: Pensionistas                                                           18
Situaciï¿½n laboral: Otra situaciï¿½n laboral                                                          18
Situaciï¿½n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato indefinido    18
Situaciï¿½n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato temporal      18
Situaciï¿½n Profesional (en trabajo principal): Trabajador por cuenta propia  con empleados            18
Situaciï¿½n Profesional (en trabajo principal): Trabajador por cuenta propia sin empleados             18
Situaciï¿½n Profesional (en trabajo principal):  Ayuda familiar (sin sueldo estipulado)                18
Jornada laboral (en trabajo principal) : A tiempo completo                                             18
Jornada laboral (en trabajo principal) : A tiempo parcial                                              18
Ocupaciï¿½n principal: Manual                                                                          18
Ocupaciï¿½n principal: No Manual                                                                       18
Ocupaciï¿½n principal: Trabajadores TIC                                                                18
Ocupaciï¿½n principal: Otros trabajadores                                                              18
Ingresos mensuales netos del hogar: Menos de 1.200 euros                                               18
Ingresos mensuales netos del hogar: De 1.200 a menos de 1.900 euros                                    18
Ingresos mensuales netos del hogar: De 1.900 a menos de 2.700 euros                                    18
Ingresos mensuales netos del hogar: De 2.700 a menos de 3.900 euros                                    18
Ingresos mensuales netos del hogar: 3.900 o mï¿½s euros                                                18
Ingresos mensuales netos del hogar: NS/NR                                                              18
Name: count, dtype: int64

In [163]:
# Reconvertimos desde latin1 a utf-8
df_educacion['caracts_socioecon'] = df_educacion['caracts_socioecon'].apply(lambda x: x.encode('latin1').decode('utf-8'))

In [164]:
df_educacion['caracts_socioecon'].value_counts()

caracts_socioecon
Total Personas                                                                                       18
Estudios terminados: Menos que primaria                                                              18
Estudios terminados: Educaci�n Primaria                                                              18
Estudios terminados: Primera etapa de Educaci�n Secundaria                                           18
Estudios terminados: Segunda etapa de Educaci�n Secundaria                                           18
Estudios terminados: Formaci�n Profesional de Grado Superior                                         18
Estudios terminados: Diplomatura universitaria y equivalentes                                        18
Estudios terminados: Licenciatura universitaria, m�ster y equivalentes                               18
Estudios terminados: Doctorado universitario                                                         18
Estudios terminados: Otros                                                                           18
Situaci�n laboral: Activos ocupados                                                                  18
Situaci�n laboral: Activos parados                                                                   18
Situaci�n laboral: Inactivos: Estudiantes                                                            18
Situaci�n laboral: Inactivos: Labores del hogar                                                      18
Situaci�n laboral: Inactivos: Pensionistas                                                           18
Situaci�n laboral: Otra situaci�n laboral                                                            18
Situaci�n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato indefinido    18
Situaci�n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato temporal      18
Situaci�n Profesional (en trabajo principal): Trabajador por cuenta propia  con empleados            18
Situaci�n Profesional (en trabajo principal): Trabajador por cuenta propia sin empleados             18
Situaci�n Profesional (en trabajo principal):  Ayuda familiar (sin sueldo estipulado)                18
Jornada laboral (en trabajo principal) : A tiempo completo                                           18
Jornada laboral (en trabajo principal) : A tiempo parcial                                            18
Ocupaci�n principal: Manual                                                                          18
Ocupaci�n principal: No Manual                                                                       18
Ocupaci�n principal: Trabajadores TIC                                                                18
Ocupaci�n principal: Otros trabajadores                                                              18
Ingresos mensuales netos del hogar: Menos de 1.200 euros                                             18
Ingresos mensuales netos del hogar: De 1.200 a menos de 1.900 euros                                  18
Ingresos mensuales netos del hogar: De 1.900 a menos de 2.700 euros                                  18
Ingresos mensuales netos del hogar: De 2.700 a menos de 3.900 euros                                  18
Ingresos mensuales netos del hogar: 3.900 o m�s euros                                                18
Ingresos mensuales netos del hogar: NS/NR                                                            18
Name: count, dtype: int64

In [165]:
df_educacion.sample(10)

,sexo,caracts_socioecon,uso_TIC,total
553,mujer,Ocupaci�n principal: Otros trabajadores,telef_mov,"99,9"
498,mujer,Situaci�n Profesional (en trabajo principal): ...,NaN,1453873
70,NaN,Situaci�n laboral: Activos parados,uso_internet_diario,"91,2"
395,hombre,Ingresos mensuales netos del hogar: NS/NR,compra_online_ultimos3meses,"23,2"
379,hombre,Ingresos mensuales netos del hogar: De 2.700 a...,telef_mov,"99,3"
67,NaN,Situaci�n laboral: Activos parados,telef_mov,99
524,mujer,Jornada laboral (en trabajo principal) : A tie...,uso_internet_ultimos3meses,"99,3"
297,hombre,Situaci�n Profesional (en trabajo principal): ...,uso_internet_semanal,"98,3"
72,NaN,Situaci�n laboral: Inactivos: Estudiantes,NaN,3633159
571,mujer,Ingresos mensuales netos del hogar: De 1.900 a...,telef_mov,"99,1"

In [166]:
df_educacion[df_educacion['caracts_socioecon'] == 'Total Personas'].shape

(18, 4)

In [167]:
df_educacion.shape

(594, 4)

In [168]:
df_educacion.isnull().sum()

sexo                 198
caracts_socioecon      0
uso_TIC               99
total                  0
dtype: int64

In [169]:
df_educacion[df_educacion['uso_TIC'].notnull()]

,sexo,caracts_socioecon,uso_TIC,total
1,NaN,Total Personas,telef_mov,"99,1"
2,NaN,Total Personas,uso_internet_ultimos3meses,"95,8"
3,NaN,Total Personas,uso_internet_semanal,95
4,NaN,Total Personas,uso_internet_diario,"91,5"
5,NaN,Total Personas,compra_online_ultimos3meses,"56,7"
...,...,...,...,...
589,mujer,Ingresos mensuales netos del hogar: NS/NR,telef_mov,100
590,mujer,Ingresos mensuales netos del hogar: NS/NR,uso_internet_ultimos3meses,"90,7"
591,mujer,Ingresos mensuales netos del hogar: NS/NR,uso_internet_semanal,"90,7"
592,mujer,Ingresos mensuales netos del hogar: NS/NR,uso_internet_diario,"82,4"
593,mujer,Ingresos mensuales netos del hogar: NS/NR,compra_online_ultimos3meses,"38,6"

In [170]:
df_educacion = df_educacion[df_educacion['caracts_socioecon'] != 'Total Personas']

In [171]:
df_educacion['caracts_socioecon'].value_counts().head()

caracts_socioecon
Estudios terminados: Menos que primaria                         18
Estudios terminados: Educaci�n Primaria                         18
Estudios terminados: Primera etapa de Educaci�n Secundaria      18
Estudios terminados: Segunda etapa de Educaci�n Secundaria      18
Estudios terminados: Formaci�n Profesional de Grado Superior    18
Name: count, dtype: int64

In [33]:
df_educacion.columns

Index(['sexo', 'caracts_socioecon', 'uso_TIC', 'total'], dtype='object')

In [34]:
df_educacion.shape

(576, 4)

In [172]:
mapeo = {
    'Estudios terminados: Menos que primaria': 'Estudios terminados: Menos que primaria',
    'Estudios terminados: Educaci�n Primaria': 'Estudios terminados: Educacion Primaria',
    'Estudios terminados: Primera etapa de Educaci�n Secundaria': 'Estudios terminados: Primera etapa de Educacion Secundaria',
    'Estudios terminados: Segunda etapa de Educaci�n Secundaria': 'Estudios terminados: Segunda etapa de Educacion Secundaria',
    'Estudios terminados: Formaci�n Profesional de Grado Superior': 'Estudios terminados: Formacion Profesional de Grado Superior',
    'Estudios terminados: Diplomatura universitaria y equivalentes': 'Estudios terminados: Diplomatura universitaria y equivalentes',
    'Estudios terminados: Licenciatura universitaria, m�ster y equivalentes': 'Estudios terminados: Licenciatura universitaria, master y equivalentes',
    'Estudios terminados: Doctorado universitario': 'Estudios terminados: Doctorado universitario',
    'Estudios terminados: Otros': 'Estudios terminados: Otros',
    'Situaci�n laboral: Activos ocupados': 'Situacion laboral: Activos ocupados',
    'Situaci�n laboral: Activos parados': 'Situacion laboral: Activos parados',
    'Situaci�n laboral: Inactivos: Estudiantes': 'Situacion laboral: Inactivos: Estudiantes',
    'Situaci�n laboral: Inactivos: Labores del hogar': 'Situacion laboral: Inactivos: Labores del hogar',
    'Situaci�n laboral: Inactivos: Pensionistas': 'Situacion laboral: Inactivos: Pensionistas',
    'Situaci�n laboral: Otra situaci�n laboral': 'Situacion laboral: Otra situacion laboral',
    'Situaci�n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato indefinido': 'Situacion Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato indefinido',
    'Situaci�n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato temporal': 'Situacion Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato temporal',
    'Situaci�n Profesional (en trabajo principal): Trabajador por cuenta propia  con empleados': 'Situacion Profesional (en trabajo principal): Trabajador por cuenta propia con empleados',
    'Situaci�n Profesional (en trabajo principal): Trabajador por cuenta propia sin empleados': 'Situacion Profesional (en trabajo principal): Trabajador por cuenta propia sin empleados',
    'Situaci�n Profesional (en trabajo principal):  Ayuda familiar (sin sueldo estipulado)': 'Situacion Profesional (en trabajo principal): Ayuda familiar (sin sueldo estipulado)',
    'Jornada laboral (en trabajo principal) : A tiempo completo': 'Jornada laboral (en trabajo principal): A tiempo completo',
    'Jornada laboral (en trabajo principal) : A tiempo parcial': 'Jornada laboral (en trabajo principal): A tiempo parcial',
    'Ocupaci�n principal: Manual': 'Ocupacion principal: Manual',
    'Ocupaci�n principal: No Manual': 'Ocupacion principal: No Manual',
    'Ocupaci�n principal: Trabajadores TIC': 'Ocupacion principal: Trabajadores TIC',
    'Ocupaci�n principal: Otros trabajadores': 'Ocupacion principal: Otros trabajadores',
    'Ingresos mensuales netos del hogar: Menos de 1.200 euros': 'Ingresos mensuales netos del hogar: Menos de 1200 euros',
    'Ingresos mensuales netos del hogar: De 1.200 a menos de 1.900 euros': 'Ingresos mensuales netos del hogar: De 1200 a menos de 1900 euros',
    'Ingresos mensuales netos del hogar: De 1.900 a menos de 2.700 euros': 'Ingresos mensuales netos del hogar: De 1900 a menos de 2700 euros',
    'Ingresos mensuales netos del hogar: De 2.700 a menos de 3.900 euros': 'Ingresos mensuales netos del hogar: De 2700 a menos de 3900 euros',
    'Ingresos mensuales netos del hogar: 3.900 o m�s euros': 'Ingresos mensuales netos del hogar: 3900 o mas euros',
    'Ingresos mensuales netos del hogar: NS/NR': 'Ingresos mensuales netos del hogar: NS/NR',
}
df_educacion['caracts_socioecon'] = df_educacion['caracts_socioecon'].map(mapeo)

In [173]:
df_educacion['caracts_socioecon'].shape

(576,)

In [174]:
df_educacion['caracts_socioecon'].str.split(":", expand=True)

                                      0                    1     2
6                   Estudios terminados   Menos que primaria  None
7                   Estudios terminados   Menos que primaria  None
8                   Estudios terminados   Menos que primaria  None
9                   Estudios terminados   Menos que primaria  None
10                  Estudios terminados   Menos que primaria  None
..                                  ...                  ...   ...
589  Ingresos mensuales netos del hogar                NS/NR  None
590  Ingresos mensuales netos del hogar                NS/NR  None
591  Ingresos mensuales netos del hogar                NS/NR  None
592  Ingresos mensuales netos del hogar                NS/NR  None
593  Ingresos mensuales netos del hogar                NS/NR  None

[576 rows x 3 columns]

In [175]:
df_educacion[['caracts_socioecon_nombre','detalle_socioecon']] = df_educacion['caracts_socioecon'].str.split(":", n=1, expand=True).get([0,1])

In [176]:
df_educacion = df_educacion.drop(columns ='caracts_socioecon')

In [177]:
df_educacion = df_educacion[df_educacion['uso_TIC'].notnull()]

In [178]:
df_educacion['detalle_socioecon'][df_educacion['caracts_socioecon_nombre']=='Ingresos mensuales netos del hogar'].unique()

array([' Menos de 1200 euros', ' De 1200 a menos de 1900 euros',
       ' De 1900 a menos de 2700 euros', ' De 2700 a menos de 3900 euros',
       ' 3900 o mas euros', ' NS/NR'], dtype=object)

In [179]:
df_educacion['detalle_socioecon'][df_educacion['caracts_socioecon_nombre']=='Estudios terminados'].unique()

array([' Menos que primaria', ' Educacion Primaria',
       ' Primera etapa de Educacion Secundaria',
       ' Segunda etapa de Educacion Secundaria',
       ' Formacion Profesional de Grado Superior',
       ' Diplomatura universitaria y equivalentes',
       ' Licenciatura universitaria, master y equivalentes',
       ' Doctorado universitario', ' Otros'], dtype=object)

In [180]:
df_educacion['detalle_socioecon'][df_educacion['caracts_socioecon_nombre']=='Ocupacion principal'].unique()

array([' Manual', ' No Manual', ' Trabajadores TIC',
       ' Otros trabajadores'], dtype=object)

In [181]:
df_educacion['detalle_socioecon'][df_educacion['caracts_socioecon_nombre']=='Situacion Profesional (en trabajo principal)'].unique()

array([' Trabajador por cuenta ajena con contrato indefinido',
       ' Trabajador por cuenta ajena con contrato temporal',
       ' Trabajador por cuenta propia con empleados',
       ' Trabajador por cuenta propia sin empleados',
       ' Ayuda familiar (sin sueldo estipulado)'], dtype=object)

In [182]:
df_educacion['detalle_socioecon'][df_educacion['caracts_socioecon_nombre']=='Jornada laboral (en trabajo principal)'].unique()

array([' A tiempo completo', ' A tiempo parcial'], dtype=object)

In [183]:
df_educacion['detalle_socioecon'][df_educacion['caracts_socioecon_nombre']=='Situacion laboral'].unique()

array([' Activos ocupados', ' Activos parados', ' Inactivos: Estudiantes',
       ' Inactivos: Labores del hogar', ' Inactivos: Pensionistas',
       ' Otra situacion laboral'], dtype=object)

In [184]:
df_educacion.sample(10)

,sexo,uso_TIC,total,caracts_socioecon_nombre,detalle_socioecon
434,mujer,uso_internet_ultimos3meses,"99,1",Estudios terminados,Diplomatura universitaria y equivalentes
157,NaN,telef_mov,"99,9",Ocupacion principal,Otros trabajadores
424,mujer,uso_internet_diario,"94,2",Estudios terminados,Segunda etapa de Educacion Secundaria
449,mujer,compra_online_ultimos3meses,"80,9",Estudios terminados,Doctorado universitario
97,NaN,telef_mov,"99,8",Situacion Profesional (en trabajo principal),Trabajador por cuenta ajena con contrato inde...
428,mujer,uso_internet_ultimos3meses,"99,5",Estudios terminados,Formacion Profesional de Grado Superior
381,hombre,uso_internet_semanal,"95,1",Ingresos mensuales netos del hogar,De 2700 a menos de 3900 euros
129,NaN,uso_internet_semanal,"98,3",Jornada laboral (en trabajo principal),A tiempo completo
338,hombre,uso_internet_ultimos3meses,"96,5",Ocupacion principal,Manual
418,mujer,uso_internet_diario,"86,4",Estudios terminados,Primera etapa de Educacion Secundaria

In [185]:
df_educacion.to_csv('files/educacion_TIC_clean.csv', index=False)

## EQUIPAMIENTO

In [186]:
df_equipamiento = pd.read_csv('../datos/6 equipamiento viviendas.csv',sep=';', encoding='latin1')

In [50]:
df_equipamiento.sample(10)

,Total Nacional,Comunidades y Ciudades Autï¿½nomas,Tipo de equipamiento,Total
59,Total Nacional,05 Canarias,Viviendas con telï¿½fono mï¿½vil,"98,9"
130,Total Nacional,"13 Madrid, Comunidad de",Total Viviendas,2379945
57,Total Nacional,05 Canarias,Viviendas con conexiï¿½n solo a travï¿½s de ba...,13
82,Total Nacional,08 Castilla - La Mancha,Ordenadores de sobremesa o portï¿½til (no incl...,"73,9"
49,Total Nacional,"04 Balears, Illes",Viviendas con telï¿½fono mï¿½vil,"99,7"
56,Total Nacional,05 Canarias,Viviendas con conexiï¿½n de banda ancha fija,"83,8"
71,Total Nacional,07 Castilla y Leï¿½n,Ordenadores de cualquier tipo: incluidos netbo...,"80,2"
119,Total Nacional,11 Extremadura,Viviendas con telï¿½fono mï¿½vil,"99,5"
180,Total Nacional,18 Ceuta,Total Viviendas,23356
11,Total Nacional,01 Andalucï¿½a,Ordenadores de cualquier tipo: incluidos netbo...,"80,7"

In [51]:
df_equipamiento.columns

Index(['Total Nacional', 'Comunidades y Ciudades Autï¿½nomas',
       'Tipo de equipamiento', 'Total'],
      dtype='object')

In [52]:
df_equipamiento = df_equipamiento.rename(columns = {'Comunidades y Ciudades Autï¿½nomas':'CCAA'})

In [53]:
df_equipamiento.columns

Index(['Total Nacional', 'CCAA', 'Tipo de equipamiento', 'Total'], dtype='object')

In [54]:
df_equipamiento['CCAA'].unique()

array([nan, '01 Andalucï¿½a', '02 Aragï¿½n', '03 Asturias, Principado de',
       '04 Balears, Illes', '05 Canarias', '06 Cantabria',
       '07 Castilla y Leï¿½n', '08 Castilla - La Mancha', '09 Cataluï¿½a',
       '10 Comunitat Valenciana', '11 Extremadura', '12 Galicia',
       '13 Madrid, Comunidad de', '14 Murcia, Regiï¿½n de',
       '15 Navarra, Comunidad Foral de', '16 Paï¿½s Vasco',
       '17 Rioja, La', '18 Ceuta', '19 Melilla'], dtype=object)

In [55]:
df_equipamiento['CCAA'] = df_equipamiento['CCAA'].str.replace(r'^\d+\s+', '', regex=True)

In [56]:
df_equipamiento['CCAA'].unique()

array([nan, 'Andalucï¿½a', 'Aragï¿½n', 'Asturias, Principado de',
       'Balears, Illes', 'Canarias', 'Cantabria', 'Castilla y Leï¿½n',
       'Castilla - La Mancha', 'Cataluï¿½a', 'Comunitat Valenciana',
       'Extremadura', 'Galicia', 'Madrid, Comunidad de',
       'Murcia, Regiï¿½n de', 'Navarra, Comunidad Foral de',
       'Paï¿½s Vasco', 'Rioja, La', 'Ceuta', 'Melilla'], dtype=object)

In [57]:
mapeo_ccaa = {
    'Andalucï¿½a': 'Andalucía',
    'Aragï¿½n': 'Aragón',
    'Asturias, Principado de': 'Asturias',
    'Balears, Illes': 'Baleares',
    'Canarias': 'Canarias',
    'Cantabria': 'Cantabria',
    'Castilla y Leï¿½n': 'Castilla y León',
    'Castilla - La Mancha': 'Castilla-La Mancha',
    'Cataluï¿½a': 'Cataluña',
    'Comunitat Valenciana': 'Valencia',
    'Extremadura': 'Extremadura',
    'Galicia': 'Galicia',
    'Madrid, Comunidad de': 'Madrid',
    'Murcia, Regiï¿½n de': 'Murcia',
    'Navarra, Comunidad Foral de': 'Navarra',
    'Paï¿½s Vasco': 'País Vasco',
    'Rioja, La': 'La Rioja',
    'Ceuta': 'Ceuta',
    'Melilla': 'Melilla'
}

df_equipamiento['CCAA'] = df_equipamiento['CCAA'].map(mapeo_ccaa)

In [58]:
df_equipamiento['CCAA'].unique()

array([nan, 'Andalucía', 'Aragón', 'Asturias', 'Baleares', 'Canarias',
       'Cantabria', 'Castilla y León', 'Castilla-La Mancha', 'Cataluña',
       'Valencia', 'Extremadura', 'Galicia', 'Madrid', 'Murcia',
       'Navarra', 'País Vasco', 'La Rioja', 'Ceuta', 'Melilla'],
      dtype=object)

In [59]:
df_equipamiento['Tipo de equipamiento'].unique()

array(['Total Viviendas',
       'Ordenadores de cualquier tipo: incluidos netbooks, tablets, de mano, etc.',
       'Ordenadores de sobremesa o portï¿½til (no incluye tablet)',
       'Ordenadores tipo Tablet',
       'Viviendas que disponen de acceso a Internet',
       'Viviendas con conexiï¿½n de Banda Ancha',
       'Viviendas con conexiï¿½n de banda ancha fija',
       'Viviendas con conexiï¿½n solo a travï¿½s de banda ancha  mï¿½vil',
       'Viviendas con telï¿½fono fijo',
       'Viviendas con telï¿½fono mï¿½vil'], dtype=object)

In [60]:
df_equipamiento[df_equipamiento['CCAA'].isnull()]

,Total Nacional,CCAA,Tipo de equipamiento,Total
0,Total Nacional,NaN,Total Viviendas,17179652
1,Total Nacional,NaN,Ordenadores de cualquier tipo: incluidos netbo...,83
2,Total Nacional,NaN,Ordenadores de sobremesa o portï¿½til (no incl...,"77,6"
3,Total Nacional,NaN,Ordenadores tipo Tablet,"55,8"
4,Total Nacional,NaN,Viviendas que disponen de acceso a Internet,"96,8"
5,Total Nacional,NaN,Viviendas con conexiï¿½n de Banda Ancha,"96,8"
6,Total Nacional,NaN,Viviendas con conexiï¿½n de banda ancha fija,"85,7"
7,Total Nacional,NaN,Viviendas con conexiï¿½n solo a travï¿½s de ba...,"11,1"
8,Total Nacional,NaN,Viviendas con telï¿½fono fijo,"53,9"
9,Total Nacional,NaN,Viviendas con telï¿½fono mï¿½vil,"99,5"

In [61]:
mapeo_variables = {
    'Ordenadores de cualquier tipo: incluidos netbooks, tablets, de mano, etc.': 'Ordenadores de cualquier tipo: incluidos netbooks, tablets, de mano, etc.',
    'Ordenadores de sobremesa o portï¿½til (no incluye tablet)': 'Ordenadores de sobremesa o portátil (no incluye tablet)',
    'Ordenadores tipo Tablet': 'Ordenadores tipo Tablet',
    'Viviendas que disponen de acceso a Internet': 'Viviendas que disponen de acceso a Internet',
    'Viviendas con conexiï¿½n de Banda Ancha': 'Viviendas con conexión de Banda Ancha',
    'Viviendas con conexiï¿½n de banda ancha fija': 'Viviendas con conexión de banda ancha fija',
    'Viviendas con conexiï¿½n solo a travï¿½s de banda ancha  mï¿½vil': 'Viviendas con conexión solo a través de banda ancha móvil',
    'Viviendas con telï¿½fono fijo': 'Viviendas con teléfono fijo',
    'Viviendas con telï¿½fono mï¿½vil': 'Viviendas con teléfono móvil'
}
df_equipamiento['Tipo de equipamiento'] = df_equipamiento['Tipo de equipamiento'].map(mapeo_variables)

In [62]:
df_equipamiento['Tipo de equipamiento'].unique()

array([nan,
       'Ordenadores de cualquier tipo: incluidos netbooks, tablets, de mano, etc.',
       'Ordenadores de sobremesa o portátil (no incluye tablet)',
       'Ordenadores tipo Tablet',
       'Viviendas que disponen de acceso a Internet',
       'Viviendas con conexión de Banda Ancha',
       'Viviendas con conexión de banda ancha fija',
       'Viviendas con conexión solo a través de banda ancha móvil',
       'Viviendas con teléfono fijo', 'Viviendas con teléfono móvil'],
      dtype=object)

In [63]:
df_equipamiento.sample(10)

,Total Nacional,CCAA,Tipo de equipamiento,Total
163,Total Nacional,País Vasco,Ordenadores tipo Tablet,"59,1"
171,Total Nacional,La Rioja,Ordenadores de cualquier tipo: incluidos netbo...,"83,6"
181,Total Nacional,Ceuta,Ordenadores de cualquier tipo: incluidos netbo...,"86,6"
140,Total Nacional,Murcia,NaN,529305
11,Total Nacional,Andalucía,Ordenadores de cualquier tipo: incluidos netbo...,"80,7"
135,Total Nacional,Madrid,Viviendas con conexión de Banda Ancha,98
13,Total Nacional,Andalucía,Ordenadores tipo Tablet,"52,9"
102,Total Nacional,Valencia,Ordenadores de sobremesa o portátil (no incluy...,"79,7"
52,Total Nacional,Canarias,Ordenadores de sobremesa o portátil (no incluy...,"71,2"
110,Total Nacional,Extremadura,NaN,384114

In [64]:
df_equipamiento.to_csv('files/equipamiento_viviendas.csv', index=False)

## TASA PARO

In [250]:
df_tasa_paro = pd.read_csv('../datos/8 tasa-paro-gral.csv',sep=';', encoding='latin1')

In [188]:
df_tasa_paro.head()

       ï»¿Sexo Comunidades y Ciudades AutÃ³nomas   Edad Periodo Tasa paro
0  Ambos sexos                    Total Nacional  Total  2024T4     10,61
1  Ambos sexos                    Total Nacional  Total  2024T3     11,21
2  Ambos sexos                    Total Nacional  Total  2024T2     11,27
3  Ambos sexos                    Total Nacional  Total  2024T1     12,29
4  Ambos sexos                    Total Nacional  Total  2023T4      11,8

In [251]:
df_tasa_paro = df_tasa_paro.rename(columns = {'ï»¿Sexo':'sexo', 'Comunidades y Ciudades AutÃ³nomas':'CCAA', 'Edad':'edad', 'Periodo':'periodo','Tasa paro':'tasa_paro'})

In [233]:
df_tasa_paro.columns

Index(['sexo', 'CCAA', 'edad', 'periodo', 'tasa_paro'], dtype='object')

In [252]:
df_tasa_paro['CCAA'].unique()

array(['Total Nacional', '01 AndalucÃ\xada', '02 AragÃ³n',
       '03 Asturias, Principado de', '04 Balears, Illes', '05 Canarias',
       '06 Cantabria', '07 Castilla y LeÃ³n', '08 Castilla - La Mancha',
       '09 CataluÃ±a', '10 Comunitat Valenciana', '11 Extremadura',
       '12 Galicia', '13 Madrid, Comunidad de', '14 Murcia, RegiÃ³n de',
       '15 Navarra, Comunidad Foral de', '16 PaÃ\xads Vasco',
       '17 Rioja, La', '18 Ceuta', '19 Melilla'], dtype=object)

In [253]:
df_tasa_paro['CCAA'] = df_tasa_paro['CCAA'].str.replace(r'^\d+\s+', '', regex=True)

In [236]:
df_tasa_paro['CCAA'].unique()

array(['Total Nacional', 'AndalucÃ\xada', 'AragÃ³n',
       'Asturias, Principado de', 'Balears, Illes', 'Canarias',
       'Cantabria', 'Castilla y LeÃ³n', 'Castilla - La Mancha',
       'CataluÃ±a', 'Comunitat Valenciana', 'Extremadura', 'Galicia',
       'Madrid, Comunidad de', 'Murcia, RegiÃ³n de',
       'Navarra, Comunidad Foral de', 'PaÃ\xads Vasco', 'Rioja, La',
       'Ceuta', 'Melilla'], dtype=object)

In [254]:
mapeo_ccaa = {'Total Nacional':'España',
    'AndalucÃ\xada': 'Andalucía',
    'AragÃ³n': 'Aragón',
    'Asturias, Principado de': 'Asturias',
    'Balears, Illes': 'Baleares',
    'Canarias': 'Canarias',
    'Cantabria': 'Cantabria',
    'Castilla y LeÃ³n': 'Castilla y León',
    'Castilla - La Mancha': 'Castilla-La Mancha',
    'CataluÃ±a': 'Cataluña',
    'Comunitat Valenciana': 'Valencia',
    'Extremadura': 'Extremadura',
    'Galicia': 'Galicia',
    'Madrid, Comunidad de': 'Madrid',
    'Murcia, RegiÃ³n de': 'Murcia',
    'Navarra, Comunidad Foral de': 'Navarra',
    'PaÃ\xads Vasco': 'País Vasco',
    'Rioja, La': 'La Rioja',
    'Ceuta': 'Ceuta',
    'Melilla': 'Melilla',
}

df_tasa_paro['CCAA'] = df_tasa_paro['CCAA'].map(mapeo_ccaa)

In [255]:
len(df_tasa_paro['CCAA'].unique())

20

In [256]:
df_tasa_paro.columns

Index(['sexo', 'CCAA', 'edad', 'periodo', 'tasa_paro'], dtype='object')

In [257]:
df_tasa_paro['edad'].unique()

array(['Total', 'Menores de 25 aÃ±os', '25 y mÃ¡s aÃ±os',
       'De 16 a 19 aÃ±os', 'De 20 a 24 aÃ±os', 'De 25 a 54 aÃ±os',
       '55 y mÃ¡s aÃ±os'], dtype=object)

In [258]:
mapeo_edades = {'Total': 'Total',
    'Menores de 25 aÃ±os': 'Menores de 25 años',
    '25 y mÃ¡s aÃ±os': '25 y más años',
    'De 16 a 19 aÃ±os': 'De 16 a 19 años',
    'De 20 a 24 aÃ±os': 'De 20 a 24 años',
    'De 25 a 54 aÃ±os': 'De 25 a 54 años',
    '55 y mÃ¡s aÃ±os': '55 y más años'
}
df_tasa_paro['edad'] = df_tasa_paro['edad'].map(mapeo_edades)

In [259]:
df_tasa_paro['edad'].unique()

array(['Total', 'Menores de 25 años', '25 y más años', 'De 16 a 19 años',
       'De 20 a 24 años', 'De 25 a 54 años', '55 y más años'],
      dtype=object)

In [260]:
df_tasa_paro['periodo'].unique()

array(['2024T4', '2024T3', '2024T2', '2024T1', '2023T4', '2023T3',
       '2023T2', '2023T1', '2022T4', '2022T3', '2022T2', '2022T1',
       '2021T4', '2021T3', '2021T2', '2021T1', '2020T4', '2020T3',
       '2020T2', '2020T1', '2019T4', '2019T3', '2019T2', '2019T1',
       '2018T4', '2018T3', '2018T2', '2018T1', '2017T4', '2017T3',
       '2017T2', '2017T1', '2016T4', '2016T3', '2016T2', '2016T1',
       '2015T4', '2015T3', '2015T2', '2015T1', '2014T4', '2014T3',
       '2014T2', '2014T1', '2013T4', '2013T3', '2013T2', '2013T1',
       '2012T4', '2012T3', '2012T2', '2012T1', '2011T4', '2011T3',
       '2011T2', '2011T1', '2010T4', '2010T3', '2010T2', '2010T1',
       '2009T4', '2009T3', '2009T2', '2009T1', '2008T4', '2008T3',
       '2008T2', '2008T1', '2007T4', '2007T3', '2007T2', '2007T1',
       '2006T4', '2006T3', '2006T2', '2006T1', '2005T4', '2005T3',
       '2005T2', '2005T1', '2004T4', '2004T3', '2004T2', '2004T1',
       '2003T4', '2003T3', '2003T2', '2003T1', '2002T4', '2002T3',
       '2002T2', '2002T1'], dtype=object)

In [261]:
df_tasa_paro['sexo'].unique()

array(['Ambos sexos', 'Hombres', 'Mujeres'], dtype=object)

In [204]:
df_tasa_paro.to_csv('files/tasa_paro_gral.csv', index=False)

In [262]:
# Reemplazamos comas por puntos
df_tasa_paro['tasa_paro'] = df_tasa_paro['tasa_paro'].str.replace(',', '.', regex=False)

# Eliminamos espacios extra
df_tasa_paro['tasa_paro'] = df_tasa_paro['tasa_paro'].str.strip()

# Reemplazamos valores vacíos o no numéricos por NaN
df_tasa_paro['tasa_paro'] = df_tasa_paro['tasa_paro'].apply(
                            lambda x: float(x) if x.replace('.', '', 1).isdigit() else np.nan
                            )

In [296]:
df_tasa_paro['año'] = df_tasa_paro['periodo'].str[:4]

In [303]:
df_tasa_paro.sample()

             sexo      CCAA             edad periodo  tasa_paro   año
3687  Ambos sexos  Canarias  De 25 a 54 años  2023T1      15.78  2023

In [308]:
df_paro_año_ccaa = df_tasa_paro.groupby(['año', 'CCAA'])['tasa_paro'].mean().reset_index()

In [314]:
df_paro_año_ccaa.sample(10)

      año                CCAA  tasa_paro
399  2021            Valencia  26.550595
115  2007             Melilla  25.458718
220  2013           Andalucía  48.960833
427  2023  Castilla-La Mancha  21.423690
323  2018            Baleares  19.437976
146  2009     Castilla y León  22.992738
324  2018            Canarias  28.579048
25   2003           Cantabria  15.167738
307  2017  Castilla-La Mancha  32.188333
242  2014            Asturias  31.693929

In [315]:
df_paro_año_ccaa.to_csv('files/tasa_paro_año_ccaa.csv', index=False)

## EVOL EQUIP

In [316]:
df_equip = pd.read_csv('../datos/9 evolucion-tipo-equipamiento-ccaa.csv', sep=';', encoding='latin1')

In [317]:
df_equip.head()

,Comunidades y Ciudades AutÃ³nomas,Tipo de equipamiento,Periodo,Total
0,Total nacional,Viviendas con algÃºn tipo de ordenador,2024,83
1,Total nacional,Viviendas con algÃºn tipo de ordenador,2023,"82,6"
2,Total nacional,Viviendas con algÃºn tipo de ordenador,2022,"82,9"
3,Total nacional,Viviendas con algÃºn tipo de ordenador,2021,"83,7"
4,Total nacional,Viviendas con algÃºn tipo de ordenador,2020,"81,4"

In [318]:
df_equip.shape

(1900, 4)

In [319]:
df_equip.duplicated().sum()

np.int64(0)

In [320]:
df_equip.isnull().sum()

Comunidades y Ciudades AutÃ³nomas    0
Tipo de equipamiento                 0
Periodo                              0
Total                                0
dtype: int64

In [321]:
df_equip['Comunidades y Ciudades AutÃ³nomas'].unique()

array(['Total nacional', 'AndalucÃ\xada', 'AragÃ³n',
       'Asturias, Principado de', 'Balears, Illes', 'Canarias',
       'Cantabria', 'Castilla y LeÃ³n', 'Castilla-La Mancha', 'CataluÃ±a',
       'Comunitat Valenciana', 'Extremadura', 'Galicia',
       'Madrid, Comunidad de', 'Murcia, RegiÃ³n de',
       'Navarra, Comunidad Foral de', 'PaÃ\xads Vasco', 'Rioja, La',
       'Ceuta', 'Melilla'], dtype=object)

In [322]:
mapeo_CCAA = {
    'Total nacional': 'España',
    'AndalucÃ\xada': 'Andalucía',
    'AragÃ³n': 'Aragón',
    'Asturias, Principado de': 'Principado de Asturias',
    'Balears, Illes': 'Islas Baleares',
    'Canarias': 'Islas Canarias',
    'Cantabria': 'Cantabria',
    'Castilla y LeÃ³n': 'Castilla y León',
    'Castilla-La Mancha': 'Castilla-La Mancha',
    'CataluÃ±a': 'Cataluña',
    'Comunitat Valenciana': 'Comunidad Valenciana',
    'Extremadura': 'Extremadura',
    'Galicia': 'Galicia',
    'Madrid, Comunidad de': 'Comunidad de Madrid',
    'Murcia, RegiÃ³n de': 'Región de Murcia',
    'Navarra, Comunidad Foral de': 'Comunidad Foral de Navarra',
    'PaÃ\xads Vasco': 'País Vasco',
    'Rioja, La': 'La Rioja',
    'Ceuta': 'Ceuta',
    'Melilla': 'Melilla'
}

df_equip['Comunidades y Ciudades AutÃ³nomas'] = df_equip['Comunidades y Ciudades AutÃ³nomas'].map(mapeo_CCAA)

In [323]:
df_equip['Comunidades y Ciudades AutÃ³nomas'].unique()

array(['España', 'Andalucía', 'Aragón', 'Principado de Asturias',
       'Islas Baleares', 'Islas Canarias', 'Cantabria', 'Castilla y León',
       'Castilla-La Mancha', 'Cataluña', 'Comunidad Valenciana',
       'Extremadura', 'Galicia', 'Comunidad de Madrid',
       'Región de Murcia', 'Comunidad Foral de Navarra', 'País Vasco',
       'La Rioja', 'Ceuta', 'Melilla'], dtype=object)

In [324]:
df_equip['Tipo de equipamiento'].unique()

array(['Viviendas con algÃºn tipo de ordenador',
       'Viviendas que disponen de acceso a Internet',
       'Viviendas con conexiÃ³n de Banda Ancha  (ADSL, Red de cable, etc.)',
       'Viviendas con telÃ©fono fijo', 'Viviendas con telÃ©fono mÃ³vil'],
      dtype=object)

In [325]:
mapeo = {
    'Viviendas con algÃºn tipo de ordenador': 'Viviendas con algún tipo de ordenador',
    'Viviendas que disponen de acceso a Internet': 'Viviendas que disponen de acceso a Internet',
    'Viviendas con conexiÃ³n de Banda Ancha  (ADSL, Red de cable, etc.)': 'Viviendas con conexión de Banda Ancha (ADSL, Red de cable, etc.)',
    'Viviendas con telÃ©fono fijo': 'Viviendas con teléfono fijo',
    'Viviendas con telÃ©fono mÃ³vil': 'Viviendas con teléfono móvil'
}

df_equip['Tipo de equipamiento'] = df_equip['Tipo de equipamiento'].replace(mapeo)

In [326]:
df_equip['Tipo de equipamiento'].unique()

array(['Viviendas con algún tipo de ordenador',
       'Viviendas que disponen de acceso a Internet',
       'Viviendas con conexión de Banda Ancha (ADSL, Red de cable, etc.)',
       'Viviendas con teléfono fijo', 'Viviendas con teléfono móvil'],
      dtype=object)

In [327]:
df_equip['Periodo'].unique()

array([2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014,
       2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006])

In [328]:
df_equip.columns

Index(['Comunidades y Ciudades AutÃ³nomas', 'Tipo de equipamiento', 'Periodo',
       'Total'],
      dtype='object')

In [329]:
df_equip = df_equip.rename(columns = {'Comunidades y Ciudades AutÃ³nomas':'CCAA'})

In [330]:
df_equip.columns

Index(['CCAA', 'Tipo de equipamiento', 'Periodo', 'Total'], dtype='object')

In [331]:
df_equip.to_csv('files/evolucion_equipamiento_viviendas.csv', index=False)

## Unión CSV para correlación:

In [332]:
df_paro_año_ccaa = pd.read_csv('files/tasa_paro_año_ccaa.csv')
df_paro_año_ccaa.head()

    año       CCAA  tasa_paro
0  2002  Andalucía  24.931905
1  2002     Aragón   9.475714
2  2002   Asturias  15.213452
3  2002   Baleares  11.208095
4  2002   Canarias  15.212024

In [339]:
df_paro_año_ccaa['CCAA'].unique()

array(['Andalucía', 'Aragón', 'Asturias', 'Baleares', 'Canarias',
       'Cantabria', 'Castilla y León', 'Castilla-La Mancha', 'Cataluña',
       'Ceuta', 'España', 'Extremadura', 'Galicia', 'La Rioja', 'Madrid',
       'Melilla', 'Murcia', 'Navarra', 'País Vasco', 'Valencia'],
      dtype=object)

In [334]:
df_equip = pd.read_csv('files/evolucion_equipamiento_viviendas.csv')
df_equip.head()

     CCAA                   Tipo de equipamiento  Periodo Total
0  España  Viviendas con algún tipo de ordenador     2024    83
1  España  Viviendas con algún tipo de ordenador     2023  82,6
2  España  Viviendas con algún tipo de ordenador     2022  82,9
3  España  Viviendas con algún tipo de ordenador     2021  83,7
4  España  Viviendas con algún tipo de ordenador     2020  81,4

In [344]:
df_equip = df_equip.rename(columns = {'Total':'% equipamiento'})

In [340]:
df_equip['CCAA'].unique()

array(['España', 'Andalucía', 'Aragón', 'Principado de Asturias',
       'Islas Baleares', 'Islas Canarias', 'Cantabria', 'Castilla y León',
       'Castilla-La Mancha', 'Cataluña', 'Comunidad Valenciana',
       'Extremadura', 'Galicia', 'Comunidad de Madrid',
       'Región de Murcia', 'Comunidad Foral de Navarra', 'País Vasco',
       'La Rioja', 'Ceuta', 'Melilla'], dtype=object)

In [342]:
#que df_paro tenga las mismas CCAA (mismo nombre) que df_equip:
mapeo_ccaa = {
    'Andalucía': 'Andalucía',
    'Aragón': 'Aragón',
    'Asturias': 'Principado de Asturias',
    'Baleares': 'Islas Baleares',
    'Canarias': 'Islas Canarias',
    'Cantabria': 'Cantabria',
    'Castilla y León': 'Castilla y León',
    'Castilla-La Mancha': 'Castilla-La Mancha',
    'Cataluña': 'Cataluña',
    'Ceuta': 'Ceuta',
    'España': 'España',
    'Extremadura': 'Extremadura',
    'Galicia': 'Galicia',
    'La Rioja': 'La Rioja',
    'Madrid': 'Comunidad de Madrid',
    'Melilla': 'Melilla',
    'Murcia': 'Región de Murcia',
    'Navarra': 'Comunidad Foral de Navarra',
    'País Vasco': 'País Vasco',
    'Valencia': 'Comunidad Valenciana'
}

df_paro_año_ccaa['CCAA'] = df_paro_año_ccaa['CCAA'].map(mapeo_ccaa)

In [347]:
df_paro_año_ccaa = df_paro_año_ccaa.rename(columns = {'año':'Periodo'})

In [343]:
df_paro_año_ccaa['CCAA'].unique()

array(['Andalucía', 'Aragón', 'Principado de Asturias', 'Islas Baleares',
       'Islas Canarias', 'Cantabria', 'Castilla y León',
       'Castilla-La Mancha', 'Cataluña', 'Ceuta', 'España', 'Extremadura',
       'Galicia', 'La Rioja', 'Comunidad de Madrid', 'Melilla',
       'Región de Murcia', 'Comunidad Foral de Navarra', 'País Vasco',
       'Comunidad Valenciana'], dtype=object)

In [348]:
df_paro_año_ccaa.head()

   Periodo                    CCAA  tasa_paro
0     2002               Andalucía  24.931905
1     2002                  Aragón   9.475714
2     2002  Principado de Asturias  15.213452
3     2002          Islas Baleares  11.208095
4     2002          Islas Canarias  15.212024

In [346]:
df_equip.head()

     CCAA                   Tipo de equipamiento  Periodo % equipamiento
0  España  Viviendas con algún tipo de ordenador     2024             83
1  España  Viviendas con algún tipo de ordenador     2023           82,6
2  España  Viviendas con algún tipo de ordenador     2022           82,9
3  España  Viviendas con algún tipo de ordenador     2021           83,7
4  España  Viviendas con algún tipo de ordenador     2020           81,4

In [349]:
# Hacemos un merge:
# Paso 1: Asegurarnos que Periodo es int en ambos DataFrames
df_paro_año_ccaa['Periodo'] = df_paro_año_ccaa['Periodo'].astype(int)
df_equip['Periodo'] = df_equip['Periodo'].astype(int)


# Paso 2: Limpiamos la columna % equipamiento (si tiene comas como decimales)
df_equip['% equipamiento'] = df_equip['% equipamiento'].astype(str).str.replace(',', '.').astype(float)

# Paso 3: Hacer el merge
df_merged = pd.merge(df_paro_año_ccaa, df_equip, on=['Periodo', 'CCAA'], how='inner')

In [350]:
df_merged.head()

,Periodo,CCAA,tasa_paro,Tipo de equipamiento,% equipamiento
0,2006,Andalucía,17.20381,Viviendas con algún tipo de ordenador,50.6
1,2006,Andalucía,17.20381,Viviendas que disponen de acceso a Internet,30.7
2,2006,Andalucía,17.20381,"Viviendas con conexión de Banda Ancha (ADSL, R...",23.3
3,2006,Andalucía,17.20381,Viviendas con teléfono fijo,75.3
4,2006,Andalucía,17.20381,Viviendas con teléfono móvil,84.7

In [351]:
df_merged.to_csv('files/correlacion.csv', index=False)