---
description: EDA brecha tecnol√≥gica UE
---


## Los Datos:
Digital economy and society statistics - households and individuals

[Fuente](https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Digital_economy_and_society_statistics_-_households_and_individuals)

A su vez, la fuente anterior nos lleva a este dataset:

[Fuente](https://ec.europa.eu/eurostat/databrowser/view/isoc_ci_ac_i__custom_16380599/default/table?lang=en)

In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Configuro el entorno de trabajo
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)

In [4]:
df_eu = pd.read_csv('../datos/5 uso-internet-ue.csv');

/tmp/ipykernel_6524/2987893334.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_eu = pd.read_csv('../datos/5 uso-internet-ue.csv');

In [5]:
df_eu.head(2)

,DATAFLOW,LAST UPDATE,freq,indic_is,unit,ind_type,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:ISOC_CI_AC_I(1.0),17/12/24 11:00:00,Annual,Internet use: seeking health information,Percentage of individuals,All individuals,Albania,2018,30.32,NaN,NaN
1,ESTAT:ISOC_CI_AC_I(1.0),17/12/24 11:00:00,Annual,Internet use: seeking health information,Percentage of individuals,All individuals,Albania,2019,33.33,NaN,NaN

In [6]:
df_eu.columns

Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'indic_is', 'unit', 'ind_type',
       'geo', 'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG', 'CONF_STATUS'],
      dtype='object')

In [7]:
df_eu['freq'].value_counts() #columna a eliminar

freq
Annual    157297
Name: count, dtype: int64

In [8]:
df_eu['ind_type'].value_counts()

ind_type
All individuals                      21660
Individuals, 16 to 24 years old      21636
Individuals, 35 to 44 years old      21636
Individuals, 25 to 34 years old      21634
Individuals, 45 to 54 years old      21634
Individuals, 55 to 64 years old      21630
Individuals, 65 to 74 years old      21598
Individuals, 75 years old or more     3599
Individuals, 15 years old or less     2270
Name: count, dtype: int64

In [9]:
df_eu['unit'].value_counts()

unit
Percentage of individuals                                           78670
Percentage of individuals who used internet in the last 3 months    78627
Name: count, dtype: int64

In [10]:
df_eu['DATAFLOW'].value_counts()#columna a eliminar

DATAFLOW
ESTAT:ISOC_CI_AC_I(1.0)    157297
Name: count, dtype: int64

In [11]:
df_eu['OBS_FLAG'].value_counts()#columna a eliminar

OBS_FLAG
u     4162
b     2300
e      448
bu      30
Name: count, dtype: int64

In [12]:
df_eu['CONF_STATUS'].value_counts()#columna a eliminar

CONF_STATUS
C    22
Name: count, dtype: int64

In [13]:
df_eu.info() #tipos de datos del dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157297 entries, 0 to 157296
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATAFLOW     157297 non-null  object
 1   LAST UPDATE  157297 non-null  object
 2   freq         157297 non-null  object
 3   indic_is     157297 non-null  object
 4   unit         157297 non-null  object
 5   ind_type     157297 non-null  object
 6   geo          157297 non-null  object
 7   TIME_PERIOD  157297 non-null  int64
 8   OBS_VALUE    153924 non-null  float64
 9   OBS_FLAG     6940 non-null    object
 10  CONF_STATUS  22 non-null      object
dtypes: float64(1), int64(1), object(9)
memory usage: 13.2+ MB

In [14]:
#filas y col del dataframe:
df_eu.shape

(157297, 11)

In [15]:
#valores nulos por columna:
df_val_nulos = (df_eu.isnull().sum()/df_eu.shape[0] * 100)
df_val_nulos = df_val_nulos.reset_index()
df_val_nulos = df_val_nulos.sort_values(by=0, ascending=False)

In [16]:
df_val_nulos

          index          0
10  CONF_STATUS  99.986014
9      OBS_FLAG  95.587964
8     OBS_VALUE   2.144351
0      DATAFLOW   0.000000
1   LAST UPDATE   0.000000
2          freq   0.000000
3      indic_is   0.000000
4          unit   0.000000
5      ind_type   0.000000
6           geo   0.000000
7   TIME_PERIOD   0.000000

In [17]:
#filas duplicadas:
df_eu.duplicated().sum() #no hay filas duplicadas

0

Para sacar los ppales estad√≠sticos, voy a separar las variables por categ√≥ricas y num√©ricas:

In [18]:
df_cat = df_eu.select_dtypes(include = 'O')
col_cat = df_cat.columns

In [19]:
col_cat

Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'indic_is', 'unit', 'ind_type',
       'geo', 'OBS_FLAG', 'CONF_STATUS'],
      dtype='object')

In [20]:
df_cat.describe().T #no nos dice gran cosa

,count,unique,top,freq
DATAFLOW,157297,1,ESTAT:ISOC_CI_AC_I(1.0),157297
LAST UPDATE,157297,1,17/12/24 11:00:00,157297
freq,157297,1,Annual,157297
indic_is,157297,33,Internet use: finding information about goods ...,11079
unit,157297,2,Percentage of individuals,78670
ind_type,157297,9,All individuals,21660
geo,157297,41,Slovakia,4936
OBS_FLAG,6940,4,u,4162
CONF_STATUS,22,1,C,22

In [21]:
df_num = df_eu.select_dtypes(exclude = 'O')
col_num = df_num.columns

In [22]:
col_num

Index(['TIME_PERIOD', 'OBS_VALUE'], dtype='object')

In [23]:
df_num.describe().T #no nos dice gran cosa.

,count,mean,std,min,25%,50%,75%,max
TIME_PERIOD,157297.0,2014.755641,5.862062,2002.0,2010.00,2015.00,2020.00,2024.0
OBS_VALUE,153924.0,38.228716,29.376402,0.0,11.96,31.06,62.78,100.0

## Columnas a eliminar:
- freq
- DATAFLOW
- LAST UPDATE (porque no ofrece informaci√≥n relevante)
- CONF_STATUS
- OBS_FLAG

In [24]:
df_eu= df_eu.drop(columns = ['freq', 'DATAFLOW', 'LAST UPDATE', 'CONF_STATUS', 'OBS_FLAG'])

In [25]:
df_eu.head(1)

,indic_is,unit,ind_type,geo,TIME_PERIOD,OBS_VALUE
0,Internet use: seeking health information,Percentage of individuals,All individuals,Albania,2018,30.32

## Cambio de t√≠tulo:
- indic_is: information society indicator, pero lo dejamos en - espa√±ol: 'indicador TIC'
- unit: unidades
- ind_type: individual type, lo ponemos en espa√±ol:  'tipo persona'
- 'geo': 'Entidad', 
- 'TIME_PERIOD':'Periodo', 
- 'OBS_VALUE': 'valor'.

In [26]:
mapa = {'indic_is': 'indicador TIC', 'unit': 'unidades', 'ind_type': 'tipo de persona','geo': 'Entidad', 'TIME_PERIOD':'Periodo', 'OBS_VALUE': 'valor'}
df_eu.rename(columns=mapa, inplace=True)

In [27]:
df_eu.head()

,indicador TIC,unidades,tipo de persona,Entidad,Periodo,valor
0,Internet use: seeking health information,Percentage of individuals,All individuals,Albania,2018,30.32
1,Internet use: seeking health information,Percentage of individuals,All individuals,Albania,2019,33.33
2,Internet use: seeking health information,Percentage of individuals,All individuals,Albania,2020,41.39
3,Internet use: seeking health information,Percentage of individuals,All individuals,Albania,2021,47.53
4,Internet use: seeking health information,Percentage of individuals,All individuals,Albania,2022,41.59

In [28]:
#vamos a agrupar estas categor√≠as:
df_eu['indicador TIC'][df_eu['Entidad']== 'Spain'].value_counts()

indicador TIC
Internet use: finding information about goods and services                                                                                       362
Internet use: selling goods or services                                                                                                          362
Internet use: sending/receiving e-mails                                                                                                          346
Internet use: Internet banking                                                                                                                   346
Internet use: seeking health information                                                                                                         298
Internet use: telephoning or video calls                                                                                                         272
Internet use: travel and accommodation services                                                                                                  250
Internet use: doing an online course (of any subject)                                                                                            240
Internet use: participating in social networks (creating user profile, posting messages or other contributions to facebook, twitter, etc.)       208
Internet use: job search or sending an application                                                                                               176
Internet use: reading online news sites/newspapers/news magazines                                                                                176
Internet use: playing/downloading games, images, films or music                                                                                  156
Internet use: taking part in on-line consultations or voting to define civic or political issues (e.g. urban planning, signing a petition)       144
Internet use: uploading self-created content to any website to be shared                                                                         144
Internet use: online learning material                                                                                                           144
Internet use: reading/downloading online newspapers/news                                                                                         142
Internet use: civic or political participation                                                                                                   128
Internet use: looking for information about education, training or course offers                                                                 112
Internet use: making an appointment with a practitioner via a website                                                                            112
Internet use: Telephoning or video calls, or instant messaging (i.e. exchanging messages, for example, via Skype, Messenger, WhatsApp, Viber)     96
Internet use: listening to web radios and/or watching web TV                                                                                      94
Internet use: communicating with instructors or students using educational websites/portals                                                       80
Internet use: participating in professional networks (creating user profile, posting messages or other contributions to LinkedIn, Xing, etc.)     64
Internet use: posting opinions on civic or political issues via websites (e.g. blogs, social networks, etc.) (until 2019)                         64
Internet use: expressing opinions on civic or political issues on websites or in social media (e.g. Facebook, Twitter, Instagram, YouTube)        64
Internet use: participating in social or professional networks                                                                                    64
Internet use: for other health services via a website or app instead of having to go to the hospital or visit a doctor                            48
Internet use: accessing personal health records online                                                                                            48
Internet use: posting messages to social media sites or instant messaging                                                                         48
Internet use: creating websites or blogs                                                                                                          48
Internet use: reading and posting opinions on civic or political issues via websites                                                              16
Internet use: sharing or publishing self-created videos, photos, music, texts, etc on a website or via an app                                     16
Internet use: listening to web radio                                                                                                              16
Name: count, dtype: int64

In [30]:
# Diccionario con categor√≠as y listas de actividades
categorias = {
    'Comercio y consumo': [
        'Internet use: finding information about goods and services',
        'Internet use: Internet banking',
        'Internet use: selling goods or services',
        'Internet use: travel and accommodation services',
        'Internet use: job search or sending an application'
    ],
    'Educaci√≥n y aprendizaje': [
        'Internet use: doing an online course (of any subject)',
        'Internet use: online learning material',
        'Internet use: communicating with instructors or students using educational websites/portals',
        'Internet use: looking for information about education, training or course offers'
    ],
    'Salud': [
        'Internet use: seeking health information',
        'Internet use: making an appointment with a practitioner via a website',
        'Internet use: accessing personal health records online',
        'Internet use: for other health services via a website or app instead of having to go to the hospital or visit a doctor'
    ],
    'Redes sociales y entretenimiento': [
        'Internet use: participating in social networks (creating user profile, posting messages or other contributions to facebook, twitter, etc.)',
        'Internet use: playing/downloading games, images, films or music',
        'Internet use: listening to web radios and/or watching web TV',
        'Internet use: posting messages to social media sites or instant messaging',
        'Internet use: sharing or publishing self-created videos, photos, music, texts, etc on a website or via an app',
        'Internet use: participating in professional networks (creating user profile, posting messages or other contributions to LinkedIn, Xing, etc.)',
        'Internet use: creating websites or blogs',
        'Internet use: listening to web radio',
        'Internet use: participating in social or professional networks'
    ],
    'Participaci√≥n c√≠vica/pol√≠tica': [
        'Internet use: taking part in on-line consultations or voting to define civic or political issues (e.g. urban planning, signing a petition)',
        'Internet use: civic or political participation',
        'Internet use: posting opinions on civic or political issues via websites (e.g. blogs, social networks, etc.) (until 2019)',
        'Internet use: expressing opinions on civic or political issues on websites or in social media (e.g. Facebook, Twitter, Instagram, YouTube)',
        'Internet use: reading/downloading online newspapers/news',
        'Internet use: reading and posting opinions on civic or political issues via websites',
        'Internet use: reading online news sites/newspapers/news magazines'
    ]
}

In [31]:
#Le damos la vuelta al diccionario y le asignamos categor√≠a:
actividad_a_categoria = {
    actividad: categoria
    for categoria, actividades in categorias.items()
    for actividad in actividades
}

# Crear nueva columna en el DataFrame con la categor√≠a
df_eu['categor√≠a'] = df_eu['indicador TIC'].map(actividad_a_categoria)

In [32]:
#Comprobamos qu√© filas se han quedado sin categorizar:
no_categorizadas = df_eu[df_eu['categor√≠a'].isna()]['indicador TIC'].unique()
print("Actividades sin categor√≠a asignada:")
print(no_categorizadas)

Actividades sin categor√≠a asignada:
['Internet use: sending/receiving e-mails'
 'Internet use: telephoning or video calls'
 'Internet use: Telephoning or video calls, or instant messaging (i.e. exchanging messages, for example, via Skype, Messenger, WhatsApp, Viber)'
 'Internet use: uploading self-created content to any website to be shared']

In [33]:
actividad_a_categoria.update({
    'Internet use: sending/receiving e-mails': 'Redes sociales y entretenimiento',
    'Internet use: telephoning or video calls': 'Redes sociales y entretenimiento',
    'Internet use: Telephoning or video calls, or instant messaging (i.e. exchanging messages, for example, via Skype, Messenger, WhatsApp, Viber)': 'Redes sociales y entretenimiento',
    'Internet use: uploading self-created content to any website to be shared': 'Redes sociales y entretenimiento'
})

In [34]:
df_eu['categor√≠a'] = df_eu['indicador TIC'].map(actividad_a_categoria)

In [35]:
#Comprobamos qu√© filas se han quedado sin categorizar:
no_categorizadas = df_eu[df_eu['categor√≠a'].isna()]['indicador TIC'].unique()
print("Actividades sin categor√≠a asignada:")
print(no_categorizadas)

Actividades sin categor√≠a asignada:
[]

In [36]:
df_eu.sample(4)

,indicador TIC,unidades,tipo de persona,Entidad,Periodo,valor,categor√≠a
102908,Internet use: online learning material,Percentage of individuals,"Individuals, 45 to 54 years old",Latvia,2021,21.50,Educaci√≥n y aprendizaje
81477,Internet use: reading/downloading online newsp...,Percentage of individuals who used internet in...,All individuals,Netherlands,2006,44.89,Participaci√≥n c√≠vica/pol√≠tica
73560,Internet use: making an appointment with a pra...,Percentage of individuals,"Individuals, 16 to 24 years old",France,2012,4.43,Salud
74557,Internet use: making an appointment with a pra...,Percentage of individuals,"Individuals, 55 to 64 years old",European Union - 27 countries (from 2020),2018,14.40,Salud

In [37]:
df_eu['Entidad'].value_counts()

Entidad
Slovakia                                                                                                         4936
Norway                                                                                                           4902
Spain                                                                                                            4884
Italy                                                                                                            4852
Germany                                                                                                          4817
Latvia                                                                                                           4668
Czechia                                                                                                          4587
Sweden                                                                                                           4564
Denmark                                                                                                          4524
Slovenia                                                                                                         4494
Finland                                                                                                          4484
Austria                                                                                                          4462
Luxembourg                                                                                                       4452
Greece                                                                                                           4442
Portugal                                                                                                         4428
Netherlands                                                                                                      4422
Ireland                                                                                                          4420
Estonia                                                                                                          4376
Hungary                                                                                                          4268
Poland                                                                                                           4234
Lithuania                                                                                                        4230
Cyprus                                                                                                           4228
Romania                                                                                                          4186
Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015, EA20-2023)    4098
Malta                                                                                                            4088
Bulgaria                                                                                                         4082
Belgium                                                                                                          4080
European Union - 27 countries (from 2020)                                                                        3868
T√ºrkiye                                                                                                          3864
Croatia                                                                                                          3838
France                                                                                                           3746
United Kingdom                                                                                                   3714
North Macedonia                                                                                                  3467
Iceland                                                                                                          3188
European Union - 28 countries (2013-2020)                                                                        2688
Serbia                                                                                                           2352
Montenegro                                                                                                       1918
Albania                                                                                                          1296
Bosnia and Herzegovina                                                                                           1232
Switzerland                                                                                                      1078
Kosovo*                                                                                                           840
Name: count, dtype: int64

In [38]:
#eliminamos Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008 .....):
df_eu= df_eu[df_eu['Entidad'] != 'Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015, EA20-2023)']

In [39]:
df_eu.to_csv('uso-internet-ue-clean.csv', index=False)