In [1]:
import pandas as pd 
import numpy as np
from IPython.display import display

In [2]:
df = pd.read_csv('bbdd_data.csv')

In [3]:
df.columns

Index(['age', 'attrition', 'business_travel', 'daily_rate', 'department',
       'distance_from_home', 'education', 'education_field', 'employee_count',
       'employee_number', 'environment_satisfaction', 'gender', 'hourly_rate',
       'job_involvement_level', 'job_level', 'job_role', 'job_satisfaction',
       'marital_status', 'monthly_income', 'monthly_rate',
       'num_companies_worked', 'over_18', 'overtime', 'percent_salary_hike',
       'performance_rating', 'relationship_satisfaction', 'standard_hours',
       'stock_option_level', 'total_working_years', 'training_times_last_year',
       'work_life_balance', 'years_at_company', 'years_in_current_role',
       'years_since_last_promotion', 'years_with_curr_manager',
       'same_as_monthly_income', 'date_birth', 'salary', 'role_department',
       'number_children', 'remote_work'],
      dtype='object')

In [4]:
df.dtypes

age                             int64
attrition                      object
business_travel                object
daily_rate                    float64
department                     object
distance_from_home              int64
education                       int64
education_field                object
employee_count                  int64
employee_number                 int64
environment_satisfaction      float64
gender                         object
hourly_rate                   float64
job_involvement_level           int64
job_level                       int64
job_role                       object
job_satisfaction                int64
marital_status                 object
monthly_income                float64
monthly_rate                  float64
num_companies_worked            int64
over_18                        object
overtime                       object
percent_salary_hike             int64
performance_rating            float64
relationship_satisfaction       int64
standard_hours                 object
stock_option_level              int64
total_working_years           float64
training_times_last_year        int64
work_life_balance             float64
years_at_company                int64
years_in_current_role         float64
years_since_last_promotion      int64
years_with_curr_manager         int64
same_as_monthly_income        float64
date_birth                      int64
salary                        float64
role_department                object
number_children               float64
remote_work                    object
dtype: object

In [5]:
import mysql.connector
from mysql.connector import errorcode

In [7]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', #carretera de unión
                            host='127.0.0.1',
                            database ='ABC_company')

mycursor = cnx.cursor() # creamos el "camioncito que transporta"

In [ ]:
# Insertar en la tabla 'employees'
#for index, row in df.iterrows():
    #try:
        #sql_employees = """
        #INSERT INTO employees (employee_number, age, gender, marital_status, over18, date_of_birth)
        #VALUES (%s, %s, %s, %s, %s, %s)
        #"""
        # Convertir la fila en tupla
        #values_employees = (row['employee_number'], row['age'], row['gender'], row['marital_status'], row['over_18'], row['date_birth'])
        #mycursor.execute(sql_employees, values_employees)
        #cnx.commit()
    #except mysql.connector.Error as err:
        #print(f"Error al insertar en employees: {err}")
        #cnx.rollback()

In [10]:
# Insertar en la tabla 'employee_attributes'
for index, row in df.iterrows():
    try:
        sql_employee_attributes = """
        INSERT INTO employee_attributes (employee_number, job_involvement, job_role, job_level, job_satisfaction, 
            environment_satisfaction, relationship_satisfaction, work_life_balance, years_at_company, years_in_current_role, 
            years_since_last_promotion, years_with_current_manager, training_times_last_year, performance_rating)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        # Convertir la fila en tupla
        values_employee_attributes = (
            row['employee_number'], row['job_involvement_level'], row['job_role'], row['job_level'], row['job_satisfaction'],
            row['environment_satisfaction'], row['relationship_satisfaction'], row['work_life_balance'], row['years_at_company'],
            row['years_in_current_role'], row['years_since_last_promotion'], row['years_with_curr_manager'],
            row['training_times_last_year'], row['performance_rating']
        )
        mycursor.execute(sql_employee_attributes, values_employee_attributes)
        cnx.commit()
    except mysql.connector.Error as err:
        print(f"Error al insertar en employee_attributes: {err}")
        cnx.rollback()

In [11]:
# Insertar en la tabla 'business_travel'
for index, row in df.iterrows():
    try:
        sql_business_travel = """
        INSERT INTO business_travel (employee_number, business_travel_status)
        VALUES (%s, %s)
        """
        # Convertir la fila en tupla
        values_business_travel = (row['employee_number'], row['business_travel'])
        mycursor.execute(sql_business_travel, values_business_travel)
        cnx.commit()
    except mysql.connector.Error as err:
        print(f"Error al insertar en business_travel: {err}")
        cnx.rollback()

In [12]:
# Insertar en la tabla 'overtime'
for index, row in df.iterrows():
    try:
        sql_overtime = """
        INSERT INTO overtime (employee_number, overtime_status)
        VALUES (%s, %s)
        """
        # Convertir la fila en tupla
        values_overtime = (row['employee_number'], row['overtime'])
        mycursor.execute(sql_overtime, values_overtime)
        cnx.commit()
    except mysql.connector.Error as err:
        print(f"Error al insertar en overtime: {err}")
        cnx.rollback()

In [13]:
# Insertar en la tabla 'salaries'
for index, row in df.iterrows():
    try:
        sql_salaries = """
        INSERT INTO salaries (employee_number, salary, monthly_income, monthly_rate, percent_salary_hike, same_as_monthly_income)
        VALUES (%s, %s, %s, %s, %s, %s)
        """
        # Convertir la fila en tupla
        values_salaries = (
            row['employee_number'], row['salary'], row['monthly_income'], row['monthly_rate'], row['percent_salary_hike'],
            row['same_as_monthly_income']
        )
        mycursor.execute(sql_salaries, values_salaries)
        cnx.commit()
    except mysql.connector.Error as err:
        print(f"Error al insertar en salaries: {err}")
        cnx.rollback()

In [14]:
# Insertar en la tabla 'employee_satisfaction'
for index, row in df.iterrows():
    try:
        sql_employee_satisfaction = """
        INSERT INTO employee_satisfaction (employee_number, environment_satisfaction, job_satisfaction, 
            relationship_satisfaction, work_life_balance, performance_rating)
        VALUES (%s, %s, %s, %s, %s, %s)
        """
        # Convertir la fila en tupla
        values_employee_satisfaction = (
            row['employee_number'], row['environment_satisfaction'], row['job_satisfaction'], row['relationship_satisfaction'],
            row['work_life_balance'], row['performance_rating']
        )
        mycursor.execute(sql_employee_satisfaction, values_employee_satisfaction)
        cnx.commit()
    except mysql.connector.Error as err:
        print(f"Error al insertar en employee_satisfaction: {err}")
        cnx.rollback()

In [15]:
# Cerrar el cursor y la conexión
mycursor.close()
cnx.close()